---
import Layout from "@/layouts/Layout.astro";

export const prerender = true;
---

<Layout
  title="404 - Machu picchu trenes"
  description="Página no encontrada en Machupicchu Trenes. Vuelve al inicio para seguir disfrutando de la pagina"
  canonical="https://trenesmachupicchu.com/404"
>
  <section
    class="w-full max-w-6xl mx-auto flex flex-col items-center justify-center pt-32 lg:pt-60 px-5 xl:px-0"
  >
    <h1
      class="text-4xl md:text-5xl text-center text-incarail font-normal uppercase flex flex-col justify-center items-center"
    >
      <span class="text-9xl font-black mb-5">404</span>
      <span>Opp... te has bajado en la estacion equivocada</span>
    </h1>
    <p class="text-xl mt-5">
      Lo sentimos, la página que buscas no se encuentra en nuestra ruta. Revisa
      la dirección o vuelve a la página principal para continuar tu viaje hacia
      Machu Picchu
    </p>
    <a
      href="/"
      aria-label="Botón para voler al inicio"
      class="text-[12px] md:text-base rounded-full py-4 px-10 font-medium bg-lime-700/80 text-white transition duration-300 ease-in-out hover:bg-lime-800 uppercase mt-8"
      >Volver al punto de partida</a
    >
  </section>
</Layout>
